{% if page.hyde.fields %}
  <h3>Member Fields</h3>
  <table class='definition-table'>
    <tr class='headers'>
      <th>Field</th>
      <th>Type</th>
      <th>Notes</th>
    </tr>
    {% for type in page.hyde.fields %}
      {% assign key = type[0] %}
      {% assign value = type[1] %}

      <tr>
        <td class='field'>{{ key }}</td>
        <td class='decl'>{{ value.type | escape }}</td>
        {% if value.description or value.inline.description or value.annotation %}
          <td class='defn'>
            {% if value.description != "__INLINED__" %}
              {{ value.description | markdownify }}
            {% endif %}

            {{ value.inline.description | join:"<br/>" | markdownify }}

            {% if value.annotation %}
              <span class='annotation'>({{ value.annotation | join: ", " }})</span>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endif %}
