{% if page.hyde.overloads %}
  {% assign overload_count = page.hyde.overloads | size %}

  <table class='declaration-table'>
  {% for entity in page.hyde.overloads %}
    {% assign overload = entity[1] %}
      <tr>
        <td>
          {% if overload.annotation contains "implicit" %}
            <span class='annotation'>(implicit)</span>
          {% endif %}
        </td>
        <td>
          {% highlight c++ %}{{ overload.signature_with_names }}{% endhighlight %}
        </td>
        {% if overload_count > 1 %}
            <td><a href="#overload_{{ forloop.index }}">({{ forloop.index }})</a></td>
        {% endif %}
      </tr>
  {% endfor %}
  </table>

  {% if page.hyde.inline.description %}
    {{ page.hyde.inline.description | markdownify }}
  {% endif %}

  {% if page.hyde.description %}
    {{ page.hyde.description | markdownify }}
  {% endif %}

  {% for entity in page.hyde.overloads %}
    {% assign overload = entity[1] %}
    {% if overload_count > 1 %}
      <h4 id="overload_{{ forloop.index }}">({{ forloop.index }}) {% highlight c++ %}{{ overload.signature_with_names }}{%endhighlight%}</h4>

      {% if overload.annotation %}
        <span class='annotation'>({{overload.annotation | join: ", "}})</span>
      {% endif %}
    {% endif %}

      {% if overload.inline.description %}
        {{overload.inline.description | join: "<br/>" | markdownify }}
      {% endif %}

      {% if overload.description and
            overload.description != "__INLINED__"  and
            overload.description != "__OPTIONAL__" %}
        {{overload.description | markdownify}}
      {% endif %}

      {% if overload.arguments %}
        <h5>Parameters</h5>
        <table class='declaration-table'>
          {% for arg in overload.arguments %}
            <tr>
                <td>
              <!--code>{{arg.type | escape}}</code-->

              {% if (arg.name != "") and (arg.unnamed == false) %}
                <code>{{arg.name | escape}}</code>
              {% else %}
                <i>unnamed</i>
              {% endif %}
                </td>
                <td>
              {% if arg.description and (arg.description != "__OPTIONAL__") %}
                {{arg.description | markdownify}}
              {% else if arg.name and overload.inline.arguments[arg.name].description %}
                {{overload.inline.arguments[arg.name].description | markdownify}}
              {% endif %}
                </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}


      {% if overload.return and (overload.return != "__OPTIONAL__") %}
        <h5>Returns</h5> {{overload.return | markdownify}}
      {% endif %}
      {% if overload.inline.return %}
        <h5>Returns</h5> {{overload.inline.return | markdownify}}
      {% endif %}

  {% endfor %}
{% endif %}
