@use "sass:meta";
@use "overrides" as o;
@use "overrides-light" as l;
@use "main-light" as m;

$background-color: if(
  meta.global-variable-exists("background-color", "l"),
  l.$background-color,
  if(
    meta.global-variable-exists("background-color", "o"),
    o.$background-color,
    m.$background-color
  )
);
$base-font-family: if(
  meta.global-variable-exists("base-font-family", "l"),
  l.$base-font-family,
  if(
    meta.global-variable-exists("base-font-family", "o"),
    o.$base-font-family,
    m.$base-font-family
  )
);
$base-font-size: if(
  meta.global-variable-exists("base-font-size", "l"),
  l.$base-font-size,
  if(
    meta.global-variable-exists("base-font-size", "o"),
    o.$base-font-size,
    m.$base-font-size
  )
);
$base-font-weight: if(
  meta.global-variable-exists("base-font-weight", "l"),
  l.$base-font-weight,
  if(
    meta.global-variable-exists("base-font-weight", "o"),
    o.$base-font-weight,
    m.$base-font-weight
  )
);
$base-line-height: if(
  meta.global-variable-exists("base-line-height", "l"),
  l.$base-line-height,
  if(
    meta.global-variable-exists("base-line-height", "o"),
    o.$base-line-height,
    m.$base-line-height
  )
);
$code-font-family: if(
  meta.global-variable-exists("code-font-family", "l"),
  l.$code-font-family,
  if(
    meta.global-variable-exists("code-font-family", "o"),
    o.$code-font-family,
    m.$code-font-family
  )
);
$content-width: if(
  meta.global-variable-exists("content-width", "l"),
  l.$content-width,
  if(
    meta.global-variable-exists("content-width", "o"),
    o.$content-width,
    m.$content-width
  )
);
$embedded-code-accent-color: if(
  meta.global-variable-exists("embedded-code-accent-color", "l"),
  l.$embedded-code-accent-color,
  if(
    meta.global-variable-exists("embedded-code-accent-color", "o"),
    o.$embedded-code-accent-color,
    m.$embedded-code-accent-color
  )
);
$embedded-code-background-color: if(
  meta.global-variable-exists("embedded-code-background-color", "l"),
  l.$embedded-code-background-color,
  if(
    meta.global-variable-exists("embedded-code-background-color", "o"),
    o.$embedded-code-background-color,
    m.$embedded-code-background-color
  )
);
$embedded-code-text-color: if(
  meta.global-variable-exists("embedded-code-text-color", "l"),
  l.$embedded-code-text-color,
  if(
    meta.global-variable-exists("embedded-code-text-color", "o"),
    o.$embedded-code-text-color,
    m.$embedded-code-text-color
  )
);
$footer-background-color: if(
  meta.global-variable-exists("footer-background-color", "l"),
  l.$footer-background-color,
  if(
    meta.global-variable-exists("footer-background-color", "o"),
    o.$footer-background-color,
    m.$footer-background-color
  )
);
$footer-border-color: if(
  meta.global-variable-exists("footer-border-color", "l"),
  l.$footer-border-color,
  if(
    meta.global-variable-exists("footer-border-color", "o"),
    o.$footer-border-color,
    m.$footer-border-color
  )
);
$footer-height: if(
  meta.global-variable-exists("footer-height", "l"),
  l.$footer-height,
  if(
    meta.global-variable-exists("footer-height", "o"),
    o.$footer-height,
    m.$footer-height
  )
);
$footer-link-color: if(
  meta.global-variable-exists("footer-link-color", "l"),
  l.$footer-link-color,
  if(
    meta.global-variable-exists("footer-link-color", "o"),
    o.$footer-link-color,
    m.$footer-link-color
  )
);
$footer-text-color: if(
  meta.global-variable-exists("footer-text-color", "l"),
  l.$footer-text-color,
  if(
    meta.global-variable-exists("footer-text-color", "o"),
    o.$footer-text-color,
    m.$footer-text-color
  )
);
$header-background-color: if(
  meta.global-variable-exists("header-background-color", "l"),
  l.$header-background-color,
  if(
    meta.global-variable-exists("header-background-color", "o"),
    o.$header-background-color,
    m.$header-background-color
  )
);
$header-border-color: if(
  meta.global-variable-exists("header-border-color", "l"),
  l.$header-border-color,
  if(
    meta.global-variable-exists("header-border-color", "o"),
    o.$header-border-color,
    m.$header-border-color
  )
);
$header-font-family: if(
  meta.global-variable-exists("header-font-family", "l"),
  l.$header-font-family,
  if(
    meta.global-variable-exists("header-font-family", "o"),
    o.$header-font-family,
    m.$header-font-family
  )
);
$header-height: if(
  meta.global-variable-exists("header-height", "l"),
  l.$header-height,
  if(
    meta.global-variable-exists("header-height", "o"),
    o.$header-height,
    m.$header-height
  )
);
$header-title-width: if(
  meta.global-variable-exists("header-title-width", "l"),
  l.$header-title-width,
  if(
    meta.global-variable-exists("header-title-width", "o"),
    o.$header-title-width,
    m.$header-title-width
  )
);
$highlight-accent-color: if(
  meta.global-variable-exists("highlight-accent-color", "l"),
  l.$highlight-accent-color,
  if(
    meta.global-variable-exists("highlight-accent-color", "o"),
    o.$highlight-accent-color,
    m.$highlight-accent-color
  )
);
$highlight-background-color: if(
  meta.global-variable-exists("highlight-background-color", "l"),
  l.$highlight-background-color,
  if(
    meta.global-variable-exists("highlight-background-color", "o"),
    o.$highlight-background-color,
    m.$highlight-background-color
  )
);
$hyde-primary: if(
  meta.global-variable-exists("hyde-primary", "l"),
  l.$hyde-primary,
  if(
    meta.global-variable-exists("hyde-primary", "o"),
    o.$hyde-primary,
    m.$hyde-primary
  )
);
$icon-border-color: if(
  meta.global-variable-exists("icon-border-color", "l"),
  l.$icon-border-color,
  if(
    meta.global-variable-exists("icon-border-color", "o"),
    o.$icon-border-color,
    m.$icon-border-color
  )
);
$icon-fill-color: if(
  meta.global-variable-exists("icon-fill-color", "l"),
  l.$icon-fill-color,
  if(
    meta.global-variable-exists("icon-fill-color", "o"),
    o.$icon-fill-color,
    m.$icon-fill-color
  )
);
$icon-hover-border-color: if(
  meta.global-variable-exists("icon-hover-border-color", "l"),
  l.$icon-hover-border-color,
  if(
    meta.global-variable-exists("icon-hover-border-color", "o"),
    o.$icon-hover-border-color,
    m.$icon-hover-border-color
  )
);
$icon-hover-primary-color: if(
  meta.global-variable-exists("icon-hover-primary-color", "l"),
  l.$icon-hover-primary-color,
  if(
    meta.global-variable-exists("icon-hover-primary-color", "o"),
    o.$icon-hover-primary-color,
    m.$icon-hover-primary-color
  )
);
$icon-hover-secondary-color: if(
  meta.global-variable-exists("icon-hover-secondary-color", "l"),
  l.$icon-hover-secondary-color,
  if(
    meta.global-variable-exists("icon-hover-secondary-color", "o"),
    o.$icon-hover-secondary-color,
    m.$icon-hover-secondary-color
  )
);
$icon-hover-text-color: if(
  meta.global-variable-exists("icon-hover-text-color", "l"),
  l.$icon-hover-text-color,
  if(
    meta.global-variable-exists("icon-hover-text-color", "o"),
    o.$icon-hover-text-color,
    m.$icon-hover-text-color
  )
);
$icon-primary-color: if(
  meta.global-variable-exists("icon-primary-color", "l"),
  l.$icon-primary-color,
  if(
    meta.global-variable-exists("icon-primary-color", "o"),
    o.$icon-primary-color,
    m.$icon-primary-color
  )
);
$icon-secondary-color: if(
  meta.global-variable-exists("icon-secondary-color", "l"),
  l.$icon-secondary-color,
  if(
    meta.global-variable-exists("icon-secondary-color", "o"),
    o.$icon-secondary-color,
    m.$icon-secondary-color
  )
);
$icon-text-color: if(
  meta.global-variable-exists("icon-text-color", "l"),
  l.$icon-text-color,
  if(
    meta.global-variable-exists("icon-text-color", "o"),
    o.$icon-text-color,
    m.$icon-text-color
  )
);
$inline-code-accent-color: if(
  meta.global-variable-exists("inline-code-accent-color", "l"),
  l.$inline-code-accent-color,
  if(
    meta.global-variable-exists("inline-code-accent-color", "o"),
    o.$inline-code-accent-color,
    m.$inline-code-accent-color
  )
);
$inline-code-background-color: if(
  meta.global-variable-exists("inline-code-background-color", "l"),
  l.$inline-code-background-color,
  if(
    meta.global-variable-exists("inline-code-background-color", "o"),
    o.$inline-code-background-color,
    m.$inline-code-background-color
  )
);
$inline-code-text-color: if(
  meta.global-variable-exists("inline-code-text-color", "l"),
  l.$inline-code-text-color,
  if(
    meta.global-variable-exists("inline-code-text-color", "o"),
    o.$inline-code-text-color,
    m.$inline-code-text-color
  )
);
$link-color: if(
  meta.global-variable-exists("link-color", "l"),
  l.$link-color,
  if(
    meta.global-variable-exists("link-color", "o"),
    o.$link-color,
    m.$link-color
  )
);
$on-laptop: if(
  meta.global-variable-exists("on-laptop", "l"),
  l.$on-laptop,
  if(
    meta.global-variable-exists("on-laptop", "o"),
    o.$on-laptop,
    m.$on-laptop
  )
);
$on-palm: if(
  meta.global-variable-exists("on-palm", "l"),
  l.$on-palm,
  if(
    meta.global-variable-exists("on-palm", "o"),
    o.$on-palm,
    m.$on-palm
  )
);
$post-meta-text-color: if(
  meta.global-variable-exists("post-meta-text-color", "l"),
  l.$post-meta-text-color,
  if(
    meta.global-variable-exists("post-meta-text-color", "o"),
    o.$post-meta-text-color,
    m.$post-meta-text-color
  )
);
$quote-accent-color: if(
  meta.global-variable-exists("quote-accent-color", "l"),
  l.$quote-accent-color,
  if(
    meta.global-variable-exists("quote-accent-color", "o"),
    o.$quote-accent-color,
    m.$quote-accent-color
  )
);
$quote-background-color: if(
  meta.global-variable-exists("quote-background-color", "l"),
  l.$quote-background-color,
  if(
    meta.global-variable-exists("quote-background-color", "o"),
    o.$quote-background-color,
    m.$quote-background-color
  )
);
$quote-text-color: if(
  meta.global-variable-exists("quote-text-color", "l"),
  l.$quote-text-color,
  if(
    meta.global-variable-exists("quote-text-color", "o"),
    o.$quote-text-color,
    m.$quote-text-color
  )
);
$site-grey-color-dark: if(
  meta.global-variable-exists("site-grey-color-dark", "l"),
  l.$site-grey-color-dark,
  if(
    meta.global-variable-exists("site-grey-color-dark", "o"),
    o.$site-grey-color-dark,
    m.$site-grey-color-dark
  )
);
$site-grey-color-light: if(
  meta.global-variable-exists("site-grey-color-light", "l"),
  l.$site-grey-color-light,
  if(
    meta.global-variable-exists("site-grey-color-light", "o"),
    o.$site-grey-color-light,
    m.$site-grey-color-light
  )
);
$site-grey-color: if(
  meta.global-variable-exists("site-grey-color", "l"),
  l.$site-grey-color,
  if(
    meta.global-variable-exists("site-grey-color", "o"),
    o.$site-grey-color,
    m.$site-grey-color
  )
);
$site-menu-background-color: if(
  meta.global-variable-exists("site-menu-background-color", "l"),
  l.$site-menu-background-color,
  if(
    meta.global-variable-exists("site-menu-background-color", "o"),
    o.$site-menu-background-color,
    m.$site-menu-background-color
  )
);
$site-menu-border-color: if(
  meta.global-variable-exists("site-menu-border-color", "l"),
  l.$site-menu-border-color,
  if(
    meta.global-variable-exists("site-menu-border-color", "o"),
    o.$site-menu-border-color,
    m.$site-menu-border-color
  )
);
$site-menu-fill-color: if(
  meta.global-variable-exists("site-menu-fill-color", "l"),
  l.$site-menu-fill-color,
  if(
    meta.global-variable-exists("site-menu-fill-color", "o"),
    o.$site-menu-fill-color,
    m.$site-menu-fill-color
  )
);
$site-nav-link-color: if(
  meta.global-variable-exists("site-nav-link-color", "l"),
  l.$site-nav-link-color,
  if(
    meta.global-variable-exists("site-nav-link-color", "o"),
    o.$site-nav-link-color,
    m.$site-nav-link-color
  )
);
$small-font-size: if(
  meta.global-variable-exists("small-font-size", "l"),
  l.$small-font-size,
  if(
    meta.global-variable-exists("small-font-size", "o"),
    o.$small-font-size,
    m.$small-font-size
  )
);
$spacing-unit: if(
  meta.global-variable-exists("spacing-unit", "l"),
  l.$spacing-unit,
  if(
    meta.global-variable-exists("spacing-unit", "o"),
    o.$spacing-unit,
    m.$spacing-unit
  )
);
$table-separator-color: if(
  meta.global-variable-exists("table-separator-color", "l"),
  l.$table-separator-color,
  if(
    meta.global-variable-exists("table-separator-color", "o"),
    o.$table-separator-color,
    m.$table-separator-color
  )
);
$text-color: if(
  meta.global-variable-exists("text-color", "l"),
  l.$text-color,
  if(
    meta.global-variable-exists("text-color", "o"),
    o.$text-color,
    m.$text-color
  )
);
