---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Theme variables are split into two buckets: primaries and dependents. First we define the
// primary variables, then allow the end-user to override them by defining their own override
// file set. Finally, we derive the dependent variables from the primaries, taking into account
// any user overrides that have been made.

$background-color: #1e1e1e;
$base-font-family: "Source Serif Pro",serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.5;
$code-font-family: "Source Code Pro",monospace;
$content-width: 1000px;
$embedded-code-accent-color: inherit;
$embedded-code-background-color: #161616;
$footer-background-color: #292929;
$footer-border-color: transparent;
$footer-height: 100px;
$header-background-color: #292929;
$header-border-color: transparent;
$header-font-family: "Source Sans Pro",sans-serif;
$hyde-primary: #006000;
$icon-border-color: transparent;
$icon-hover-border-color: transparent;
$icon-hover-secondary-color: white;
$icon-secondary-color: white;
$inline-code-text-color: #d7ba7d;
$link-color: #3690f8;
$on-laptop: 800px;
$on-palm: 600px;
$quote-accent-color: #3c3f46;
$quote-background-color: #292929;
$site-grey-color: #949597;
$site-menu-background-color: inherit;
$site-menu-border-color: transparent;
$spacing-unit: 30px;
$table-separator-color: #505050;
$text-color: #d4d4d4;

@import
    "overrides",
    "overrides-dark"
;

$embedded-code-text-color: $text-color;
$footer-link-color: $site-grey-color;
$footer-text-color: $site-grey-color;
$header-height: $base-font-size * 2;
$icon-fill-color: $site-grey-color;
$icon-hover-primary-color: $hyde-primary;
$icon-hover-text-color: $hyde-primary;
$icon-primary-color: $site-grey-color;
$icon-text-color: $site-grey-color;
$inline-code-accent-color: $background-color;
$inline-code-background-color: $background-color;
$post-meta-text-color: $site-grey-color;
$quote-text-color: $text-color;
$site-menu-fill-color: $text-color;
$site-nav-link-color: $text-color;
$small-font-size: $base-font-size * 0.875;

{% if site.adobe_hyde.header_image %}
$header-image: url({{ site.adobe_hyde.header_image | prepend: site.baseurl }});
{% endif %}

@import
    "main",
    "syntax-highlighting-dark"
;
