---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Theme variables are split into two buckets: primaries and dependents. First we define the
// primary variables, then allow the end-user to override them by defining their own override
// file set. Finally, we derive the dependent variables from the primaries, taking into account
// any user overrides that have been made.

$background-color: white;
$base-font-family: "Source Serif Pro",serif;
$base-font-size: 12pt;
$base-font-weight: 400;
$base-line-height: 1.25;
$code-font-family: "Source Code Pro",monospace;
$content-width: 1000px;
$footer-background-color: #e4e4e4;
$footer-border-color: transparent;
$footer-height: 100px;
$header-background-color: #e4e4e4;
$header-border-color: transparent;
$header-font-family: "Source Sans Pro",sans-serif;
$highlight-accent-color: #dbdbdb;
$highlight-background-color: #f0f0f0;
$hyde-primary: blue;
$icon-hover-secondary-color: white;
$icon-secondary-color: white;
$link-color: $hyde-primary;
$on-laptop: 800px;
$on-palm: 600px;
$site-grey-color: #949597;
$site-menu-background-color: inherit;
$site-menu-border-color: transparent;
$spacing-unit: 30px;
$text-color: #333;
$embedded-code-accent-color: $highlight-background-color;
$embedded-code-background-color: $highlight-background-color;
$embedded-code-text-color: $text-color;
$footer-link-color: $site-grey-color;
$footer-text-color: $site-grey-color;
$header-height: $base-font-size * 2;
$icon-border-color: $site-grey-color;
$icon-fill-color: $hyde-primary;
$icon-hover-border-color: $site-grey-color;
$icon-hover-primary-color: $site-grey-color;
$icon-hover-text-color: $site-grey-color;
$icon-primary-color: $hyde-primary;
$icon-text-color: $hyde-primary;
$inline-code-accent-color: $highlight-background-color;
$inline-code-background-color: $highlight-background-color;
$inline-code-text-color: $text-color;
$post-meta-text-color: $site-grey-color;
$quote-accent-color: $highlight-accent-color;
$quote-background-color: $highlight-background-color;
$quote-text-color: $text-color;
$site-grey-color-dark: darken($site-grey-color, 25%);
$site-grey-color-light: lighten($site-grey-color, 35%);
$site-menu-fill-color: $site-grey-color-dark;
$site-nav-link-color: $hyde-primary;
$small-font-size: $base-font-size * 0.875;
$table-separator-color: $site-grey-color-light;

{% if site.adobe_hyde.header_image %}
$header-image: url({{ site.adobe_hyde.header_image | prepend: site.baseurl }});
{% endif %}

@import
    "overrides",
    "overrides-light",
    "main",
    "syntax-highlighting-light"
;
