---
layout: default
---
<div class="post">
    <header class="post-header">
        <table width="100%">
            <tr>
                <td>
                    <h1 class='code'>{{ page.title | escape }}</h1>
                </td>
                <td style="text-align: right;">
                    {% include defined_in_header.html %}
                </td>
            </tr>
        </table>
    </header>

  <article class="post-content">
    {% comment %}
        We don't use `page_brief.html` here because it could cause the inline brief to get used,
        which would be a roll-up of documentation already present on this page. Since we only want
        the docs shown once, we stick with the manually-entered brief exclusively.
    {% endcomment %}
    {% if page.hyde.brief and
          page.hyde.brief != "__MISSING__" and
          page.hyde.brief != "__OPTIONAL__" and
          page.hyde.brief != "__INLINED__" %}
        {{page.hyde.brief | markdownify}}
    {% endif %}

    {% include overloads.html %}

    {% for entity in page.hyde.entities %}
      {% case entity.kind %}
        {% when 'parameters'%}
          <h3>Parameters</h3>
          {% if entity.list %}
            <table class='parameter-table'>
            {% for item in entity.list %}
                <tr>
                  <td class='decl'>{{ item.name }}</td>
                  <td class='defn'>
                      {% if item.annotation %}
                      <span class='annotation'>({{item.annotation | join: ", "}})</span>
                      {% endif %}
                      {{ item.description | markdownify }}
                  </td>
                </tr>
            {% endfor %}
            </table>
          {% else %}
            <p>(none)</p>
          {% endif %}
        {% when 'result'%}
          <h3>Return value</h3>
          {% if entity.description %}
            {{ entity.description | markdownify }}
          {% else %}
            <p>(none)</p>
          {% endif %}
        {% else %}
      {% endcase %}
    {% endfor %}

    {{ content }}

    {% include external_examples.html name=page.hyde.example header="Example" %}
  </article>
</div>
