---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ page.brief | markdownify }}

    {{ page.description | markdownify }}

    {{ content }}

    <div class="home">
      <ul class="post-list">
        {% for post in site.posts %}
          {% if post.path contains page.owner %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {{ post.excerpt }}
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>    

  </article>
</div>

